{% extends 'base.html.twig' %}

{% block title %}Hello BileteController!{% endblock %}

{% block body %}
<h1>Biletul cu id: {{bilet.id}} a fost creat si apartine cumparatorului cu id: {{calator.id}} </h1>
{% endblock %}
